version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: Panda21!
      POSTGRES_DB: lms-db
    ports:
      - "55432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data